USE [OyunCRMDB]
GO
/****** Object:  Table [dbo].[Bankalar]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bankalar](
	[BankalarID] [int] IDENTITY(1,1) NOT NULL,
	[BankaAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Bankalar__B26CD932736B39AA] PRIMARY KEY CLUSTERED 
(
	[BankalarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmanlar]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmanlar](
	[DepartmanlarID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAdi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departmanlar] PRIMARY KEY CLUSTERED 
(
	[DepartmanlarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firmalar]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmalar](
	[FirmalarID] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAdi] [nvarchar](25) NOT NULL,
	[FirmaDurumu] [bit] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[FirmaKayitTarihi] [date] NOT NULL,
	[PersonelID] [int] NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Firmalar__006A5874F0B132CA] PRIMARY KEY CLUSTERED 
(
	[FirmalarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gelirler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gelirler](
	[GelirlerID] [int] IDENTITY(1,1) NOT NULL,
	[GelirTipID] [int] NOT NULL,
	[GelirMiktari] [money] NULL,
	[GelirAciklama] [nvarchar](max) NULL,
	[UrunSatisFiyati] [money] NULL,
	[GelirislemSaati] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GelirlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GelirTipleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GelirTipleri](
	[GelirTipleriID] [int] IDENTITY(1,1) NOT NULL,
	[GelirTipAdi] [nvarchar](150) NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[GelirTipleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giderler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giderler](
	[GiderlerID] [int] NOT NULL,
	[GiderTipID] [int] NOT NULL,
	[GiderMiktar] [money] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[UrunalisFiyati] [money] NULL,
	[GiderislemSaati] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GiderlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiderTipleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiderTipleri](
	[GiderTipleriID] [int] IDENTITY(1,1) NOT NULL,
	[GiderAdi] [nvarchar](30) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[GiderTipleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[ilcelerID] [int] NOT NULL,
	[ilceAdi] [varchar](50) NULL,
	[PlakaKodu] [int] NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ilcelerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[PlakaKodu] [int] NOT NULL,
	[ilAdi] [varchar](50) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[PlakaKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[indirimler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[indirimler](
	[indirimlerID] [int] IDENTITY(1,1) NOT NULL,
	[indirimTurAdi] [nvarchar](200) NULL,
	[indirimFiyatSekli] [nvarchar](10) NULL,
	[BaslamaTarihi] [datetime] NOT NULL,
	[BitisTarihi] [time](7) NOT NULL,
	[indirimMiktari] [decimal](18, 2) NOT NULL,
	[Durumu] [bit] NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[indirimlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[indirimTurleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[indirimTurleri](
	[indirimTurleriID] [int] IDENTITY(1,1) NOT NULL,
	[indirimTurAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[indirimTurleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriFirmalari]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriFirmalari](
	[MusteriFirmalariID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[FirmaID] [int] NOT NULL,
	[KayitTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriFirmalariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriGorusmeleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriGorusmeleri](
	[MusteriGorusmeleriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[FirmaID] [int] NULL,
	[PersonelID] [int] NOT NULL,
	[MusteriiletisimSekliID] [int] NOT NULL,
	[GorusmeTarihi] [date] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriGorusmeleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriiletisimSekli]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriiletisimSekli](
	[MusteriiletisimSekilleriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[Telefon] [bit] NULL,
	[Mail] [bit] NULL,
	[Fax] [bit] NULL,
	[Aciklama] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriiletisimSekilleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusterilerID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdi] [nvarchar](100) NULL,
	[MusteriSoyadi] [nvarchar](100) NULL,
	[Adres] [nvarchar](max) NULL,
	[Ulkesi] [nvarchar](50) NULL,
	[Sehir] [nvarchar](50) NULL,
	[PostaKodu] [nvarchar](15) NULL,
	[Telefon] [char](20) NULL,
	[Fax] [char](20) NULL,
	[Email] [nvarchar](50) NULL,
	[MusteriOlmaTarihi] [date] NOT NULL,
	[Durumu] [bit] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK__Musteril__16EF76588F8DD7A2] PRIMARY KEY CLUSTERED 
(
	[MusterilerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriOdemeleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriOdemeleri](
	[MusteriOdemeleriID] [int] IDENTITY(1,1) NOT NULL,
	[OdemeSekliID] [int] NOT NULL,
	[OdemeTarihi] [date] NOT NULL,
	[OdenecekMiktar] [decimal](16, 2) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[MusteriID] [int] NOT NULL,
	[BankaAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriOdemeleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriSiparisDetay]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriSiparisDetay](
	[MusteriSiparisDetaylariID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriSiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Fiyat] [decimal](16, 2) NOT NULL,
	[Miktar] [int] NOT NULL,
	[IndirimOrani] [decimal](10, 2) NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriSiparisDetaylariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriSiparisleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriSiparisleri](
	[MusteriSiparisleriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
	[SiparisVerilisTarihi] [date] NOT NULL,
	[SiparisTeslimTarihi] [date] NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriSiparisleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriTalepDetaylar]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriTalepDetaylar](
	[MusteriTalepDetaylarID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriTalepID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Fiyat] [decimal](16, 2) NOT NULL,
	[Miktar] [decimal](12, 2) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriTalepDetaylarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriTalepleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriTalepleri](
	[MusteriTalepleriID] [int] IDENTITY(1,1) NOT NULL,
	[TalepTarihi] [date] NOT NULL,
	[TalepTeslimTarihi] [date] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[PersonelID] [int] NOT NULL,
	[MusteriID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriTalepleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriToplantilari]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriToplantilari](
	[MusteriToplantilariID] [int] IDENTITY(1,1) NOT NULL,
	[ToplantiTanimiID] [int] NULL,
	[PersonelID] [int] NULL,
	[MusteriID] [int] NULL,
	[Tarih] [datetime] NULL,
	[Saat] [nvarchar](10) NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriToplantilariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeSekli]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeSekli](
	[OdemeSekilleriID] [int] IDENTITY(1,1) NOT NULL,
	[OdemeAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeSekilleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelGirisCikislar]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelGirisCikislar](
	[PersonelGirisCikislarID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[iseBaslamaTarihi] [date] NOT NULL,
	[istenCikisTarihi] [date] NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelGirisCikislarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelGunlukTakip]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelGunlukTakip](
	[PeronselGunTakipleriID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Giris] [datetime] NOT NULL,
	[Cikis] [datetime] NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PeronselGunTakipleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personelizinleri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personelizinleri](
	[PersonelizinleriID] [int] IDENTITY(1,1) NOT NULL,
	[izinCikisTarihi] [date] NOT NULL,
	[izinBitisTarihi] [date] NULL,
	[YillikizinHakki] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[PersonelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelizinleriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[PersonellerID] [int] IDENTITY(1,1) NOT NULL,
	[TC] [char](11) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](25) NOT NULL,
	[Adres] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MedeniHali] [nvarchar](10) NOT NULL,
	[Cinsiyet] [nvarchar](20) NOT NULL,
	[DogumYeri] [nvarchar](100) NULL,
	[DogumTarihi] [date] NOT NULL,
	[Resim] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonellerinCalistigiDepartmanlar]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonellerinCalistigiDepartmanlar](
	[PersonelCalismaDepartmaniID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[DerpartmanAdi] [nvarchar](100) NOT NULL,
	[BaslamaTarihi] [datetime] NOT NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK__Personel__8789DF63BD79DBAC] PRIMARY KEY CLUSTERED 
(
	[PersonelCalismaDepartmaniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelMesaileri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelMesaileri](
	[PersonelMesaileriID] [int] IDENTITY(1,1) NOT NULL,
	[MesaiBaslangic] [datetime] NOT NULL,
	[MesaiBitis] [datetime] NULL,
	[PersonelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelMesaileriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelPrimler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelPrimler](
	[PersonelPrimlerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[PrimGunSayisi] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelPrimlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelToplantilari]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelToplantilari](
	[PersonelToplantilariID] [int] IDENTITY(1,1) NOT NULL,
	[ToplantiTanimiID] [int] NULL,
	[PersonelID] [int] NULL,
	[Tarih] [datetime] NULL,
	[Saat] [nvarchar](10) NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelToplantilariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PesonelMaasBilgiler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesonelMaasBilgiler](
	[PersonelMaaslarID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Maas] [decimal](18, 0) NOT NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelMaaslarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resimler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resimler](
	[ResimlerID] [int] IDENTITY(1,1) NOT NULL,
	[ResimAdres] [nvarchar](max) NOT NULL,
	[UrunID] [int] NULL,
	[ResimAdi] [nvarchar](100) NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Resimler] PRIMARY KEY CLUSTERED 
(
	[ResimlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taksitler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taksitler](
	[TaksitlerID] [int] IDENTITY(1,1) NOT NULL,
	[Taksit1] [nvarchar](50) NULL,
	[Tarih1] [date] NULL,
	[Taksit2] [nvarchar](50) NULL,
	[Tarih2] [date] NULL,
	[Taksit3] [nvarchar](50) NULL,
	[Tarih3] [date] NULL,
	[Taksit4] [nvarchar](50) NULL,
	[Tarih4] [date] NULL,
	[Taksit5] [nvarchar](50) NULL,
	[Tarih5] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaksitlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedarikciler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikciler](
	[TedarikcilerID] [int] IDENTITY(1,1) NOT NULL,
	[TedarikciSirketAdi] [nvarchar](150) NOT NULL,
	[TedarikciKontakAdi] [nvarchar](50) NULL,
	[TedarikciKontakUnvani] [nvarchar](30) NULL,
	[Adres] [nvarchar](max) NULL,
	[Ulkesi] [nvarchar](50) NULL,
	[Sehir] [nvarchar](50) NULL,
	[PostaKodu] [nvarchar](15) NULL,
	[Telefon] [char](11) NULL,
	[Fax] [char](11) NULL,
	[Email] [nvarchar](50) NULL,
	[TedarikciOlmaTarihi] [date] NOT NULL,
	[Durumu] [bit] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikcilerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TedarikEdilenUrunler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TedarikEdilenUrunler](
	[TedarikEdilenUrunlerID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[TedarikTarihi] [date] NOT NULL,
	[Fiyat] [money] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[TedarikciID] [int] NOT NULL,
 CONSTRAINT [PK__TedarikE__78CE6689BBD23F58] PRIMARY KEY CLUSTERED 
(
	[TedarikEdilenUrunlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToplantiTanimi]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToplantiTanimi](
	[ToplantiTanimlarID] [int] NOT NULL,
	[ToplantiTanimi] [nvarchar](max) NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ToplantiTanimlarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulkeler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulkeler](
	[UlkeID] [int] NOT NULL,
	[UlkeKodu] [nvarchar](50) NOT NULL,
	[UlkeAdi] [nvarchar](50) NOT NULL,
	[TelefonKodu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UlkeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunKategorileri]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunKategorileri](
	[UrunKategorileriID] [int] IDENTITY(1,1) NOT NULL,
	[UrunKategoriAdi] [nvarchar](max) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK__UrunKate__CD02D845E70C4F0B] PRIMARY KEY CLUSTERED 
(
	[UrunKategorileriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunlerID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](50) NOT NULL,
	[UrunKategoriID] [int] NOT NULL,
	[BirimBasinaMiktar] [nvarchar](20) NOT NULL,
	[BirimFiyati] [decimal](16, 2) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunlerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunStoklari]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunStoklari](
	[UrunStoklariID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[Tarih] [date] NULL,
	[StokMiktari] [int] NOT NULL,
	[Kalan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunStoklariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyelerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[YetkiID] [int] NOT NULL,
	[UyeAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Durum] [bit] NOT NULL,
	[KayitTarihi] [datetime] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UyelerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetkiler]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkiler](
	[YetkilerID] [int] IDENTITY(1,1) NOT NULL,
	[YetkiAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[YetkilerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetim]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetim](
	[YonetimID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NULL,
	[Durumu] [bit] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[YetkiAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[YonetimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bankalar] ON 

INSERT [dbo].[Bankalar] ([BankalarID], [BankaAdi]) VALUES (1, N'A')
INSERT [dbo].[Bankalar] ([BankalarID], [BankaAdi]) VALUES (2, N'B')
INSERT [dbo].[Bankalar] ([BankalarID], [BankaAdi]) VALUES (4, N'SS')
SET IDENTITY_INSERT [dbo].[Bankalar] OFF
SET IDENTITY_INSERT [dbo].[Departmanlar] ON 

INSERT [dbo].[Departmanlar] ([DepartmanlarID], [DepartmanAdi]) VALUES (1, N'Muhasebe')
INSERT [dbo].[Departmanlar] ([DepartmanlarID], [DepartmanAdi]) VALUES (2, N'Yazılım')
INSERT [dbo].[Departmanlar] ([DepartmanlarID], [DepartmanAdi]) VALUES (4, N'Sosyal Birim')
SET IDENTITY_INSERT [dbo].[Departmanlar] OFF
SET IDENTITY_INSERT [dbo].[Firmalar] ON 

INSERT [dbo].[Firmalar] ([FirmalarID], [FirmaAdi], [FirmaDurumu], [Aciklama], [FirmaKayitTarihi], [PersonelID], [Telefon], [Mail]) VALUES (2, N'BB', 1, N'', CAST(N'2015-12-10' AS Date), 5, N'(666) 666-6666', N'aa@mail')
SET IDENTITY_INSERT [dbo].[Firmalar] OFF
SET IDENTITY_INSERT [dbo].[Gelirler] ON 

INSERT [dbo].[Gelirler] ([GelirlerID], [GelirTipID], [GelirMiktari], [GelirAciklama], [UrunSatisFiyati], [GelirislemSaati]) VALUES (1, 2, 40.0000, N'bla ', 410.0000, CAST(N'2019-12-10T09:40:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Gelirler] OFF
SET IDENTITY_INSERT [dbo].[GelirTipleri] ON 

INSERT [dbo].[GelirTipleri] ([GelirTipleriID], [GelirTipAdi], [Aciklama]) VALUES (1, N'Ürün', NULL)
INSERT [dbo].[GelirTipleri] ([GelirTipleriID], [GelirTipAdi], [Aciklama]) VALUES (2, N'A', NULL)
INSERT [dbo].[GelirTipleri] ([GelirTipleriID], [GelirTipAdi], [Aciklama]) VALUES (3, N'B', NULL)
SET IDENTITY_INSERT [dbo].[GelirTipleri] OFF
INSERT [dbo].[Giderler] ([GiderlerID], [GiderTipID], [GiderMiktar], [Aciklama], [UrunalisFiyati], [GiderislemSaati]) VALUES (0, 6, 78000.0000, N'yeni araç alımı yapıldı', 0.0000, CAST(N'2019-12-10T09:41:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiderTipleri] ON 

INSERT [dbo].[GiderTipleri] ([GiderTipleriID], [GiderAdi], [Aciklama]) VALUES (1, N'Elektrik', NULL)
INSERT [dbo].[GiderTipleri] ([GiderTipleriID], [GiderAdi], [Aciklama]) VALUES (2, N'Su', NULL)
INSERT [dbo].[GiderTipleri] ([GiderTipleriID], [GiderAdi], [Aciklama]) VALUES (3, N'Kira', NULL)
SET IDENTITY_INSERT [dbo].[GiderTipleri] OFF
INSERT [dbo].[ilceler] ([ilcelerID], [ilceAdi], [PlakaKodu]) VALUES (1, N'Abana', 37)
INSERT [dbo].[ilceler] ([ilcelerID], [ilceAdi], [PlakaKodu]) VALUES (2, N'Acıgöl', 50)
INSERT [dbo].[ilceler] ([ilcelerID], [ilceAdi], [PlakaKodu]) VALUES (3, N'Acıpayam', 20)
GO
INSERT [dbo].[iller] ([PlakaKodu], [ilAdi]) VALUES (1, N'Adana')
INSERT [dbo].[iller] ([PlakaKodu], [ilAdi]) VALUES (2, N'Adıyaman')
INSERT [dbo].[iller] ([PlakaKodu], [ilAdi]) VALUES (3, N'Afyon')
SET IDENTITY_INSERT [dbo].[MusteriiletisimSekli] ON 

INSERT [dbo].[MusteriiletisimSekli] ([MusteriiletisimSekilleriID], [MusteriID], [Telefon], [Mail], [Fax], [Aciklama]) VALUES (1, 9, 1, 1, 0, N'')
SET IDENTITY_INSERT [dbo].[MusteriiletisimSekli] OFF
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusterilerID], [MusteriAdi], [MusteriSoyadi], [Adres], [Ulkesi], [Sehir], [PostaKodu], [Telefon], [Fax], [Email], [MusteriOlmaTarihi], [Durumu], [Aciklama]) VALUES (1, N'Salih', N'Yaman', N'', N'Turkey', N'Ağrı', N'', N'14744444446         ', N'                    ', N'', CAST(N'2019-12-05' AS Date), 0, NULL)
INSERT [dbo].[Musteriler] ([MusterilerID], [MusteriAdi], [MusteriSoyadi], [Adres], [Ulkesi], [Sehir], [PostaKodu], [Telefon], [Fax], [Email], [MusteriOlmaTarihi], [Durumu], [Aciklama]) VALUES (2, N'Salih2', N'Yaman2', N'', N'Turkey', N'Ağrı', N'', N'24                  ', N'                    ', N'', CAST(N'2019-12-05' AS Date), 0, NULL)
INSERT [dbo].[Musteriler] ([MusterilerID], [MusteriAdi], [MusteriSoyadi], [Adres], [Ulkesi], [Sehir], [PostaKodu], [Telefon], [Fax], [Email], [MusteriOlmaTarihi], [Durumu], [Aciklama]) VALUES (3, N'Gabriella', N'Fleming', N'660 Rossi Close', N'Mozambique', N'Dunedin', N'FR36 0HY', N'01890-595973        ', N'0071-665-217-9320   ', N'Emily.Walker@youtube.co', CAST(N'2006-01-14' AS Date), 1, N'Vivamus et felis ut augue laoreet mollis.')
GO
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET IDENTITY_INSERT [dbo].[MusteriOdemeleri] ON 

INSERT [dbo].[MusteriOdemeleri] ([MusteriOdemeleriID], [OdemeSekliID], [OdemeTarihi], [OdenecekMiktar], [Aciklama], [MusteriID], [BankaAdi]) VALUES (1, 3, CAST(N'2016-12-10' AS Date), CAST(90000.00 AS Decimal(16, 2)), N'sdfghjk', 7, N'1')
SET IDENTITY_INSERT [dbo].[MusteriOdemeleri] OFF
SET IDENTITY_INSERT [dbo].[MusteriSiparisDetay] ON 

INSERT [dbo].[MusteriSiparisDetay] ([MusteriSiparisDetaylariID], [MusteriSiparisID], [UrunID], [Fiyat], [Miktar], [IndirimOrani], [Aciklama]) VALUES (1, 1, 1, CAST(1500.00 AS Decimal(16, 2)), 1, CAST(2.00 AS Decimal(10, 2)), N'ilk sipariş')
INSERT [dbo].[MusteriSiparisDetay] ([MusteriSiparisDetaylariID], [MusteriSiparisID], [UrunID], [Fiyat], [Miktar], [IndirimOrani], [Aciklama]) VALUES (2, 1, 8, CAST(15.00 AS Decimal(16, 2)), 1, CAST(2.00 AS Decimal(10, 2)), N'ilk sipariş')
INSERT [dbo].[MusteriSiparisDetay] ([MusteriSiparisDetaylariID], [MusteriSiparisID], [UrunID], [Fiyat], [Miktar], [IndirimOrani], [Aciklama]) VALUES (3, 1, 1, CAST(1250.00 AS Decimal(16, 2)), 2, CAST(0.00 AS Decimal(10, 2)), N'')
SET IDENTITY_INSERT [dbo].[MusteriSiparisDetay] OFF
SET IDENTITY_INSERT [dbo].[MusteriSiparisleri] ON 

INSERT [dbo].[MusteriSiparisleri] ([MusteriSiparisleriID], [MusteriID], [PersonelID], [SiparisVerilisTarihi], [SiparisTeslimTarihi], [Aciklama]) VALUES (1, 1, 2, CAST(N'2019-12-05' AS Date), CAST(N'2019-12-09' AS Date), N'ilk sipariş')
SET IDENTITY_INSERT [dbo].[MusteriSiparisleri] OFF
SET IDENTITY_INSERT [dbo].[OdemeSekli] ON 

INSERT [dbo].[OdemeSekli] ([OdemeSekilleriID], [OdemeAdi], [Aciklama]) VALUES (1, N'Nakit', N'jj')
INSERT [dbo].[OdemeSekli] ([OdemeSekilleriID], [OdemeAdi], [Aciklama]) VALUES (2, N'Kredi Kartı', N'hh')
INSERT [dbo].[OdemeSekli] ([OdemeSekilleriID], [OdemeAdi], [Aciklama]) VALUES (3, N'Havale', N'bb')
SET IDENTITY_INSERT [dbo].[OdemeSekli] OFF
SET IDENTITY_INSERT [dbo].[PersonelGunlukTakip] ON 

INSERT [dbo].[PersonelGunlukTakip] ([PeronselGunTakipleriID], [PersonelID], [Giris], [Cikis], [Aciklama]) VALUES (1, 3, CAST(N'2019-12-10T09:25:51.223' AS DateTime), CAST(N'2019-12-10T18:25:51.000' AS DateTime), N'ilk gün')
INSERT [dbo].[PersonelGunlukTakip] ([PeronselGunTakipleriID], [PersonelID], [Giris], [Cikis], [Aciklama]) VALUES (2, 17, CAST(N'2019-12-10T09:25:51.000' AS DateTime), CAST(N'2019-12-10T19:25:51.000' AS DateTime), N'mesai')
SET IDENTITY_INSERT [dbo].[PersonelGunlukTakip] OFF
SET IDENTITY_INSERT [dbo].[Personeller] ON 

INSERT [dbo].[Personeller] ([PersonellerID], [TC], [Adi], [Soyadi], [Telefon], [Adres], [Email], [MedeniHali], [Cinsiyet], [DogumYeri], [DogumTarihi], [Resim]) VALUES (1, N'11111111111', N'Sedat', N's', N'5(555) 555-5555', N'İstanbul', N'ez@gmail.com', N'Bekar', N'ERKEK', N'Ankara', CAST(N'1987-12-03' AS Date), NULL)
INSERT [dbo].[Personeller] ([PersonellerID], [TC], [Adi], [Soyadi], [Telefon], [Adres], [Email], [MedeniHali], [Cinsiyet], [DogumYeri], [DogumTarihi], [Resim]) VALUES (2, N'147147147  ', N'Sevin', N'Kalan', N'2(053) 244-4444', N'İstanbul', N'evin@gmail.com', N'Bekar', N'KADIN', N'Hatay', CAST(N'1993-12-03' AS Date), NULL)
INSERT [dbo].[Personeller] ([PersonellerID], [TC], [Adi], [Soyadi], [Telefon], [Adres], [Email], [MedeniHali], [Cinsiyet], [DogumYeri], [DogumTarihi], [Resim]) VALUES (3, N'03502555327', N'Lily', N'Mohamed', N'01506-713140', N'823 Savage Park', N'C.Welch@arstechnica.com', N'Evli', N'Kadın', N'Boğazkale', CAST(N'1984-12-25' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Personeller] OFF
SET IDENTITY_INSERT [dbo].[Resimler] ON 

INSERT [dbo].[Resimler] ([ResimlerID], [ResimAdres], [UrunID], [ResimAdi], [Aciklama]) VALUES (33, N'C:\Users\Oyun-4\Desktop\Ok\icons8_delete_100px.png', 2, N'icons8_delete_100px.png', NULL)
INSERT [dbo].[Resimler] ([ResimlerID], [ResimAdres], [UrunID], [ResimAdi], [Aciklama]) VALUES (34, N'C:\Users\Oyun-4\Desktop\Ok\icons8_left_64px.png', 2, N'icons8_left_64px.png', NULL)
INSERT [dbo].[Resimler] ([ResimlerID], [ResimAdres], [UrunID], [ResimAdi], [Aciklama]) VALUES (36, N'C:\Users\Oyun-4\Desktop\Ok\icons8_left_arrow_26px.png', 2, N'icons8_left_arrow_26px.png', NULL)
SET IDENTITY_INSERT [dbo].[Resimler] OFF
INSERT [dbo].[Ulkeler] ([UlkeID], [UlkeKodu], [UlkeAdi], [TelefonKodu]) VALUES (1, N'AF', N'Afghanistan', 93)
INSERT [dbo].[Ulkeler] ([UlkeID], [UlkeKodu], [UlkeAdi], [TelefonKodu]) VALUES (2, N'AL', N'Albania', 355)
INSERT [dbo].[Ulkeler] ([UlkeID], [UlkeKodu], [UlkeAdi], [TelefonKodu]) VALUES (3, N'DZ', N'Algeria', 213)
GO
SET IDENTITY_INSERT [dbo].[UrunKategorileri] ON 

INSERT [dbo].[UrunKategorileri] ([UrunKategorileriID], [UrunKategoriAdi], [Aciklama]) VALUES (1, N'Mobilya', N'sss')
INSERT [dbo].[UrunKategorileri] ([UrunKategorileriID], [UrunKategoriAdi], [Aciklama]) VALUES (2, N'Elektronik', N'sss')
INSERT [dbo].[UrunKategorileri] ([UrunKategorileriID], [UrunKategoriAdi], [Aciklama]) VALUES (3, N'hmsqviszqctbvdddfnyzxqvuztjdsa', N'Suspendisse pharetra massa sed leo commodo malesuada.')
SET IDENTITY_INSERT [dbo].[UrunKategorileri] OFF
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunlerID], [UrunAdi], [UrunKategoriID], [BirimBasinaMiktar], [BirimFiyati], [Aciklama]) VALUES (1, N'Bilgisayar', 2, N'120', CAST(520.00 AS Decimal(16, 2)), N'i-5 işlemci, 500 HDD, 2 GB Ekran')
INSERT [dbo].[Urunler] ([UrunlerID], [UrunAdi], [UrunKategoriID], [BirimBasinaMiktar], [BirimFiyati], [Aciklama]) VALUES (2, N'eyqsecymrp', 15, N'Kg', CAST(0.06 AS Decimal(16, 2)), N'Phasellus pharetra leo eu tempor molestie.')
INSERT [dbo].[Urunler] ([UrunlerID], [UrunAdi], [UrunKategoriID], [BirimBasinaMiktar], [BirimFiyati], [Aciklama]) VALUES (3, N'rcdeuynric', 12, N'Litre', CAST(0.36 AS Decimal(16, 2)), N'Curabitur sed urna eget dui laoreet semper id sit amet erat.')
GO
SET IDENTITY_INSERT [dbo].[Urunler] OFF
SET IDENTITY_INSERT [dbo].[UrunStoklari] ON 

INSERT [dbo].[UrunStoklari] ([UrunStoklariID], [UrunID], [Tarih], [StokMiktari], [Kalan]) VALUES (2, 1, CAST(N'2011-12-09' AS Date), 245, 243)
INSERT [dbo].[UrunStoklari] ([UrunStoklariID], [UrunID], [Tarih], [StokMiktari], [Kalan]) VALUES (3, 11, CAST(N'2018-12-09' AS Date), 147, 147)
INSERT [dbo].[UrunStoklari] ([UrunStoklariID], [UrunID], [Tarih], [StokMiktari], [Kalan]) VALUES (4, 1, CAST(N'2018-10-09' AS Date), 120, 118)
SET IDENTITY_INSERT [dbo].[UrunStoklari] OFF
ALTER TABLE [dbo].[Firmalar]  WITH CHECK ADD  CONSTRAINT [FK_Firmalar_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[Firmalar] CHECK CONSTRAINT [FK_Firmalar_Personeller]
GO
ALTER TABLE [dbo].[Gelirler]  WITH CHECK ADD  CONSTRAINT [FK_Gelirler_GelirTipleri] FOREIGN KEY([GelirTipID])
REFERENCES [dbo].[GelirTipleri] ([GelirTipleriID])
GO
ALTER TABLE [dbo].[Gelirler] CHECK CONSTRAINT [FK_Gelirler_GelirTipleri]
GO
ALTER TABLE [dbo].[Giderler]  WITH CHECK ADD  CONSTRAINT [FK_Giderler_GiderTipleri] FOREIGN KEY([GiderTipID])
REFERENCES [dbo].[GiderTipleri] ([GiderTipleriID])
GO
ALTER TABLE [dbo].[Giderler] CHECK CONSTRAINT [FK_Giderler_GiderTipleri]
GO
ALTER TABLE [dbo].[ilceler]  WITH CHECK ADD  CONSTRAINT [FK_ilceler_iller] FOREIGN KEY([PlakaKodu])
REFERENCES [dbo].[iller] ([PlakaKodu])
GO
ALTER TABLE [dbo].[ilceler] CHECK CONSTRAINT [FK_ilceler_iller]
GO
ALTER TABLE [dbo].[MusteriFirmalari]  WITH CHECK ADD  CONSTRAINT [FK_MusteriFirmalari_Firmalar] FOREIGN KEY([FirmaID])
REFERENCES [dbo].[Firmalar] ([FirmalarID])
GO
ALTER TABLE [dbo].[MusteriFirmalari] CHECK CONSTRAINT [FK_MusteriFirmalari_Firmalar]
GO
ALTER TABLE [dbo].[MusteriFirmalari]  WITH CHECK ADD  CONSTRAINT [FK_MusteriFirmalari_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriFirmalari] CHECK CONSTRAINT [FK_MusteriFirmalari_Musteriler]
GO
ALTER TABLE [dbo].[MusteriGorusmeleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriGorusmeleri_Firmalar] FOREIGN KEY([FirmaID])
REFERENCES [dbo].[Firmalar] ([FirmalarID])
GO
ALTER TABLE [dbo].[MusteriGorusmeleri] CHECK CONSTRAINT [FK_MusteriGorusmeleri_Firmalar]
GO
ALTER TABLE [dbo].[MusteriGorusmeleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriGorusmeleri_MusteriiletisimSekli] FOREIGN KEY([MusteriiletisimSekliID])
REFERENCES [dbo].[MusteriiletisimSekli] ([MusteriiletisimSekilleriID])
GO
ALTER TABLE [dbo].[MusteriGorusmeleri] CHECK CONSTRAINT [FK_MusteriGorusmeleri_MusteriiletisimSekli]
GO
ALTER TABLE [dbo].[MusteriGorusmeleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriGorusmeleri_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriGorusmeleri] CHECK CONSTRAINT [FK_MusteriGorusmeleri_Musteriler]
GO
ALTER TABLE [dbo].[MusteriGorusmeleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriGorusmeleri_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[MusteriGorusmeleri] CHECK CONSTRAINT [FK_MusteriGorusmeleri_Personeller]
GO
ALTER TABLE [dbo].[MusteriiletisimSekli]  WITH CHECK ADD  CONSTRAINT [FK_MusteriiletisimSekli_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriiletisimSekli] CHECK CONSTRAINT [FK_MusteriiletisimSekli_Musteriler]
GO
ALTER TABLE [dbo].[MusteriOdemeleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriOdemeleri_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriOdemeleri] CHECK CONSTRAINT [FK_MusteriOdemeleri_Musteriler]
GO
ALTER TABLE [dbo].[MusteriOdemeleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriOdemeleri_OdemeSekli] FOREIGN KEY([OdemeSekliID])
REFERENCES [dbo].[OdemeSekli] ([OdemeSekilleriID])
GO
ALTER TABLE [dbo].[MusteriOdemeleri] CHECK CONSTRAINT [FK_MusteriOdemeleri_OdemeSekli]
GO
ALTER TABLE [dbo].[MusteriSiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_MusteriSiparisDetay_MusteriSiparisleri] FOREIGN KEY([MusteriSiparisID])
REFERENCES [dbo].[MusteriSiparisleri] ([MusteriSiparisleriID])
GO
ALTER TABLE [dbo].[MusteriSiparisDetay] CHECK CONSTRAINT [FK_MusteriSiparisDetay_MusteriSiparisleri]
GO
ALTER TABLE [dbo].[MusteriSiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_MusteriSiparisDetay_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunlerID])
GO
ALTER TABLE [dbo].[MusteriSiparisDetay] CHECK CONSTRAINT [FK_MusteriSiparisDetay_Urunler]
GO
ALTER TABLE [dbo].[MusteriSiparisleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriSiparisleri_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriSiparisleri] CHECK CONSTRAINT [FK_MusteriSiparisleri_Musteriler]
GO
ALTER TABLE [dbo].[MusteriSiparisleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriSiparisleri_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[MusteriSiparisleri] CHECK CONSTRAINT [FK_MusteriSiparisleri_Personeller]
GO
ALTER TABLE [dbo].[MusteriTalepDetaylar]  WITH CHECK ADD  CONSTRAINT [FK_MusteriTalepDetaylar_MusteriTalepleri] FOREIGN KEY([MusteriTalepID])
REFERENCES [dbo].[MusteriTalepleri] ([MusteriTalepleriID])
GO
ALTER TABLE [dbo].[MusteriTalepDetaylar] CHECK CONSTRAINT [FK_MusteriTalepDetaylar_MusteriTalepleri]
GO
ALTER TABLE [dbo].[MusteriTalepDetaylar]  WITH CHECK ADD  CONSTRAINT [FK_MusteriTalepDetaylar_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunlerID])
GO
ALTER TABLE [dbo].[MusteriTalepDetaylar] CHECK CONSTRAINT [FK_MusteriTalepDetaylar_Urunler]
GO
ALTER TABLE [dbo].[MusteriTalepleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriTalepleri_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriTalepleri] CHECK CONSTRAINT [FK_MusteriTalepleri_Musteriler]
GO
ALTER TABLE [dbo].[MusteriTalepleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriTalepleri_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[MusteriTalepleri] CHECK CONSTRAINT [FK_MusteriTalepleri_Personeller]
GO
ALTER TABLE [dbo].[MusteriToplantilari]  WITH CHECK ADD  CONSTRAINT [FK_MusteriToplantilari_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusterilerID])
GO
ALTER TABLE [dbo].[MusteriToplantilari] CHECK CONSTRAINT [FK_MusteriToplantilari_Musteriler]
GO
ALTER TABLE [dbo].[MusteriToplantilari]  WITH CHECK ADD  CONSTRAINT [FK_MusteriToplantilari_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[MusteriToplantilari] CHECK CONSTRAINT [FK_MusteriToplantilari_Personeller]
GO
ALTER TABLE [dbo].[MusteriToplantilari]  WITH CHECK ADD  CONSTRAINT [FK_MusteriToplantilari_ToplantiTanimi] FOREIGN KEY([ToplantiTanimiID])
REFERENCES [dbo].[ToplantiTanimi] ([ToplantiTanimlarID])
GO
ALTER TABLE [dbo].[MusteriToplantilari] CHECK CONSTRAINT [FK_MusteriToplantilari_ToplantiTanimi]
GO
ALTER TABLE [dbo].[PersonelGirisCikislar]  WITH CHECK ADD  CONSTRAINT [FK_PersonelGirisCikislar_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonelGirisCikislar] CHECK CONSTRAINT [FK_PersonelGirisCikislar_Personeller]
GO
ALTER TABLE [dbo].[PersonelGunlukTakip]  WITH CHECK ADD  CONSTRAINT [FK_PersonelGunlukTakip_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonelGunlukTakip] CHECK CONSTRAINT [FK_PersonelGunlukTakip_Personeller]
GO
ALTER TABLE [dbo].[Personelizinleri]  WITH CHECK ADD  CONSTRAINT [FK_Personelizinleri_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[Personelizinleri] CHECK CONSTRAINT [FK_Personelizinleri_Personeller]
GO
ALTER TABLE [dbo].[PersonellerinCalistigiDepartmanlar]  WITH CHECK ADD  CONSTRAINT [FK_PersonellerinCalistigiDepartmanlar_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonellerinCalistigiDepartmanlar] CHECK CONSTRAINT [FK_PersonellerinCalistigiDepartmanlar_Personeller]
GO
ALTER TABLE [dbo].[PersonelMesaileri]  WITH CHECK ADD  CONSTRAINT [FK_PersonelMesaileri_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonelMesaileri] CHECK CONSTRAINT [FK_PersonelMesaileri_Personeller]
GO
ALTER TABLE [dbo].[PersonelPrimler]  WITH CHECK ADD  CONSTRAINT [FK_PersonelPrimler_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonelPrimler] CHECK CONSTRAINT [FK_PersonelPrimler_Personeller]
GO
ALTER TABLE [dbo].[PersonelToplantilari]  WITH CHECK ADD  CONSTRAINT [FK_PersonelToplantilari_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PersonelToplantilari] CHECK CONSTRAINT [FK_PersonelToplantilari_Personeller]
GO
ALTER TABLE [dbo].[PersonelToplantilari]  WITH CHECK ADD  CONSTRAINT [FK_PersonelToplantilari_ToplantiTanimi] FOREIGN KEY([ToplantiTanimiID])
REFERENCES [dbo].[ToplantiTanimi] ([ToplantiTanimlarID])
GO
ALTER TABLE [dbo].[PersonelToplantilari] CHECK CONSTRAINT [FK_PersonelToplantilari_ToplantiTanimi]
GO
ALTER TABLE [dbo].[PesonelMaasBilgiler]  WITH CHECK ADD  CONSTRAINT [FK_PesonelMaasBilgiler_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[PesonelMaasBilgiler] CHECK CONSTRAINT [FK_PesonelMaasBilgiler_Personeller]
GO
ALTER TABLE [dbo].[Resimler]  WITH CHECK ADD  CONSTRAINT [FK_Resimler_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunlerID])
GO
ALTER TABLE [dbo].[Resimler] CHECK CONSTRAINT [FK_Resimler_Urunler]
GO
ALTER TABLE [dbo].[TedarikEdilenUrunler]  WITH CHECK ADD  CONSTRAINT [FK_TedarikEdilenUrunler_Tedarikciler] FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikciler] ([TedarikcilerID])
GO
ALTER TABLE [dbo].[TedarikEdilenUrunler] CHECK CONSTRAINT [FK_TedarikEdilenUrunler_Tedarikciler]
GO
ALTER TABLE [dbo].[TedarikEdilenUrunler]  WITH CHECK ADD  CONSTRAINT [FK_TedarikEdilenUrunler_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunlerID])
GO
ALTER TABLE [dbo].[TedarikEdilenUrunler] CHECK CONSTRAINT [FK_TedarikEdilenUrunler_Urunler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_UrunKategorileri] FOREIGN KEY([UrunKategoriID])
REFERENCES [dbo].[UrunKategorileri] ([UrunKategorileriID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_UrunKategorileri]
GO
ALTER TABLE [dbo].[UrunStoklari]  WITH CHECK ADD  CONSTRAINT [FK_UrunStoklari_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunlerID])
GO
ALTER TABLE [dbo].[UrunStoklari] CHECK CONSTRAINT [FK_UrunStoklari_Urunler]
GO
ALTER TABLE [dbo].[Uyeler]  WITH CHECK ADD  CONSTRAINT [FK_Uyeler_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[Uyeler] CHECK CONSTRAINT [FK_Uyeler_Personeller]
GO
ALTER TABLE [dbo].[Uyeler]  WITH CHECK ADD  CONSTRAINT [FK_Uyeler_Yetkiler] FOREIGN KEY([YetkiID])
REFERENCES [dbo].[Yetkiler] ([YetkilerID])
GO
ALTER TABLE [dbo].[Uyeler] CHECK CONSTRAINT [FK_Uyeler_Yetkiler]
GO
ALTER TABLE [dbo].[Yonetim]  WITH CHECK ADD  CONSTRAINT [FK_Yonetim_Personeller] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonellerID])
GO
ALTER TABLE [dbo].[Yonetim] CHECK CONSTRAINT [FK_Yonetim_Personeller]
GO
/****** Object:  StoredProcedure [dbo].[sp_PersonelListesi]    Script Date: 10.12.2019 09:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_PersonelListesi]
as
BEGIN
select p.TC,p.Adi,p.Soyadi,p.Telefon,p.Email,p.DogumYeri,p.DogumTarihi,p.MedeniHali,p.Cinsiyet,p.Adres,p.Resim,d.DerpartmanAdi,d.BaslamaTarihi from personeller as p
left join PersonellerinCalistigiDepartmanlar as d on d.PersonelID=p.PersonellerID
END
GO
